extends ../_layout

block page-title
  title !{result.title}

block content
  .container
    .col-md-5.col-md-offset-3
      .panel.panel-default
        .panel-heading Profile of !{result.user}
        .panel-body
          form(method='post')
            div Name: !{result.firstname} !{result.lastname}
            div Email: !{result.email}
            button(id='changeInfoBtn' class="btn btn-info btn-block") Change